# Morning Warmup Questions - October 8th, 2020

## Conceptual Questions

1. What are the key differences between a NumPy array and a Python list?

2. What are four common types of Python data structures that were discussed during lecture? Which are mutable and which are immutable?

3. What is git, and what are its advantages?

4. What are scalars, vectors, and matrices?

5. What is Euclidean distance? What is the Manhattan distance(Taxicab distance)?

## Technical Questions

1. Please reverse the rows of a 2D array, then reverse the columns of a 2D array

In [3]:
import numpy as np

#Input: 
arr = np.arange(9).reshape(3,3); arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

2. You are given a list of nine integers, your task is to convert this list into a 3x3 NumPy array, and then return the number that is located in the 2nd row of the 2nd column (i.e. [[1,2,3],<br>
[3,4,5],<br>
[5,6,7]] --> 4)

In [5]:
# Input:
lst = [0,1,2,3,4,5,6,7,8]

#Output: 
# arr = [[0,1,2],
#        [3,4,5],
#        [6,7,8]]
# 4

3. You are given one matrix, however you need to initialize a new matrix of the same shape, and fill it with ones. Then calculate the dot product between the original matrix with the new matrix.

In [8]:
# Input:
A = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])


#Output:
# array([[6., 6., 6.],
#       [15., 15., 15.],
#       [24., 24., 24.]])

4. You are given a pandas dataframe with 2 columns, the first column, 'Items_purchased', indicates how many items the individual bought, the second column, 'Item_Price', contains information regarding the price of said item. Please add a column to the DataFrame called 'Total_Cost' which contains the total amount that the individual spent. <br>

Hint: (number of items * price of item)

In [10]:
import pandas as pd

# Input:
df = pd.DataFrame({'Items_purchased': [1,10,23,24,13,15,22,1,10,2,7], 'Item_Price': [123.92, 87.77, 2.12, 20.13, 10.01, 7.99, 12.99, 20.12, 199.99, 10.99, 9.99]}); df

    Items_purchased  Item_Price
0                 1      123.92
1                10       87.77
2                23        2.12
3                24       20.13
4                13       10.01
5                15        7.99
6                22       12.99
7                 1       20.12
8                10      199.99
9                 2       10.99
10                7        9.99

5. Write a function that will take in two dictionaries. These dictionaries will have the same keys, but their values will be different. Return a new dictionary, with the keys from the original dictionaries and their respective *minimum* values.

In [13]:
def minimum_dictionary(dict1, dict2):
    '''
    INPUT: dictionary, dictionary
    OUTPUT: dictionary
    '''
    pass
    
    
    
dict1 = {'a': 12, 'b': 14, 'c': 24, 'd': 74}
dict2 = {'a': 24, 'b': 129, 'c': 12, 'd': 74}


minimum_dictionary(dict1, dict2)
#Output: {'a': 12, 'b': 14, 'c': 12, 'd': 74}