# Morning Warmup Questions - October 14th, 2020

1. Let's say you had a coin, and you wanted to calculate the probability of flipping equal to or less than 6 heads in 10 flips. <br>
* What probability distribution does this follow? <br>
* What are the parameters of this distribution? <br>
* What is the probability of getting 6 or less heads in 10 flips? (utilize scipy to calculate answer)

In [4]:
import numpy as np

def go_fish(n_sims = 500):
    '''
    input: int (number of simulations)
    output: float
    
    Imagine you are playing GoFish. The goal of this game 
    is to get a pair of two numbers (don't worry about suits), 
    (if you pull a 5 and a 5, you would note this as a match). 
    Use a simulation to find the estimated probability that the 
    two cards drawn are the same number. This function should return an 
    estimated probability, based on drawing the two cards n_sims times
    
    Notes: Cards are on a range from 1-11, don't worry about replacement.
        You should utilize np.random.randint to simulate draws.
    '''

3. Complete the function based on its respective docstring.

In [5]:
def pandas_practice(df):
    '''
    input: dataframe
    output: dataframe
    
    given a dataframe containing drinking data with corresponding 
    columns:
        country, beer_servings, spirit_servings, wine_servines, continent
        
    return the dataframe containing the continent that drinks the most
    beet on average.
    '''

4. Given a pandas Dataframe, extract the 'B' column as a single NumPy array.

In [17]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [6, 3, 3, 1, 2], 'C': [7, 9, 1, 2, 2]}); df

   A  B  C
0  1  6  7
1  2  3  9
2  3  3  1
3  4  1  2
4  5  2  2

In [ ]:
2. Solve the following function:

#### **Advanced**<br> 
5. You are given a dataset of baby names. Using this dataset, write code to determine what the top 5 boy and girl names were in 2009.

In [6]:
#importing libaries
import numpy as np
import pandas as pd

#reading csv into a dataframe
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.drop(baby_names.columns[baby_names.columns.str.contains('unnamed', case = False)], axis = 1, inplace = True)

#viewing dataframe
baby_names.head()

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41