# Morning Warm-up Questions - October 21st, 2020

1. Solve this SQL function:

In [1]:
def sql_query():
    '''
    input: none
    output: string
    
    given a table named world which contains population data 
    with these columns:
        name, region, area, population, gdp
    return a sql query that gives the average population of 'Poland', 'Germany', 'Denmark'.
    '''
    # your code should look like this:
    # return '''SELECT * 
    #           FROM world;'''
    pass

2. Solve this SQL function:

In [2]:
def sql_query():
    '''
    input: none
    output: string
    
    given a table named CITY which contains Japanese city data 
    with these columns:
        ID, NAME, COUNTRYCODE, DISTRICT, POPULATION
    return a sql query that gives a list of all cities that start with the letter Y.
    '''
    # your code should look like this:
    # return '''SELECT * 
    #           FROM CITY;'''
    pass

3. Solve this NumPy function:

In [3]:
import numpy as np
def even_and_three_array(arr):
    '''
    INPUT: NUMPY ARRAY
    OUTPUT: NUMPY ARRAY
    
    arr in a numpy array of integers. 
    Return an array of the integers in arr that are even and divisible by 3
    For example:
    In [1] arr_out = divisible_by(np.array([0, 24, 3, 12, 18, 17]))
    In [2] arr_out
    Out[2] np.array([0, 24, 3, 12, 18])
    '''
    pass

4. There are three artists entering a talent show: Pam, Pia, and Pablo. 
    * Pam put in 15 paintings, 4% of her works have won First Prize
    * Pia put in 5 paintings, 6% of her works have won First Prize
    * Pablo put in 10 paintings, 3% of his works have won First Prize.
    
What is the chance that Pam will win first prize?

(Hint: Bayes theorem)

5. Please identify the Big O notation (Order of computations) for the following functions:

In [5]:
def algo(items):
    print(items[0] * items[0])

# O(n) = ?

In [6]:
def algo(items):
    for item in items:
        print(item)
        
# O(n) = ?

In [7]:
def algo(items):
    for item in items:
        for item2 in items:
            print(item, ' ' ,item)
            
# O(n) = ?

In [8]:
def algo(item1, item2):
    while item1 < item2:
        item1 *= 2
        print(item, ' ' ,item)
        
# O(n) = ?

(Extra)<br>

6. Conceptual:<br>
    a) In terms of how the data is organized, what is the difference between Mongo and SQL?<br>
    b) When is it better to use Mongo rather than SQL?