# Afternoon Warm-up Questions - November 12th, 2020

1. What is entropy measuring in Decision trees?<br>
    * How do we calculate entropy?

2. What is Information Gain, and how is it calculated?

3. Solve this SQL Query:

In [2]:
def sql_query():
    '''
    input: none
    output: string
    
    given two tables named CITY and COUNTRY which contains data 
    with these columns:
    
        CITY:
            ID, NAME, COUNTRYCODE, DISTRICT, POPULATION
            
        COUNTRY:
            CODE, NAME, CONTINENT, REGION, SURFACEAREA, POPULATION, LIFEEXPENTENANCY
    
    query the names of all the continents (COUNTRY.Continent) and their respective 
    average city populations (CITY.Population).
    
    Note: CITY.CountryCode and COUNTRY.Code are matching key columns.
    
    Your result should have: CONTINENT, AVG_POPULATION.
    '''
    return """
        SELECT CONTINENT, AVG(CITY.Population) AS AVG_POPULATION
        FROM CITY
        INNER JOIN COUNTRY
            ON CITY.COUNTRYCODE = COUNTRY.CODE
        GROUP BY CONTINENT;
    """

4. Solve this function.

In [17]:
import numpy as np

def split_array(arr, value):
    '''
    input: NUMPY ARRAY, INT
    output: NUMPY ARRAY, NUMPY ARRAY
    
    given a NumPy array, split the array into two arrays,
    one that contains all integers less than the value you want to 
    split on, and the other contains all the values that are greater
    than or equal to.
    
    Note: try to utilize the ~ operator.
    '''
    cond = arr < value
    return arr[cond], arr[arr >= value]

In [18]:
split_array(np.array([0,1,2,3,4,5,6]), 4)
# Result: (array([0, 1, 2, 3]), array([4, 5, 6]))

(array([0, 1, 2, 3]), array([4, 5, 6]))

5. Given the inputted dataframe below, please convert the Item_Price column into a Pandas series and assign it an index with the following labels:

`index = ['A','B','C','D','E','F','G','H','I','J']`

In [7]:
import pandas as pd

# Input:
df = pd.DataFrame({'Items_purchased': [1,10,23,24,13,15,22,1,10,2,7], 'Item_Price': [123.92, 87.77, 2.12, 20.13, 10.01, 7.99, 12.99, 20.12, 199.99, 10.99, 9.99]}); df

    Items_purchased  Item_Price
0                 1      123.92
1                10       87.77
2                23        2.12
3                24       20.13
4                13       10.01
5                15        7.99
6                22       12.99
7                 1       20.12
8                10      199.99
9                 2       10.99
10                7        9.99

In [8]:
# Output: 
# A    123.92
# B     87.77
# C      2.12
# D     20.13
# E     10.01
# F      7.99
# G     12.99
# H     20.12
# I    199.99
# J     10.99
# K      9.99
# dtype: float64

In [30]:
index = ['A','B','C','D','E','F','G','H','I','J','K']

In [32]:
pd.Series(list(df['Item_Price']), index=index)

A    123.92
B     87.77
C      2.12
D     20.13
E     10.01
F      7.99
G     12.99
H     20.12
I    199.99
J     10.99
K      9.99
dtype: float64