# Morning Warm-up Questions- November 30th, 2020

1. Solve this function:

In [4]:
def sql_query():
    '''
    input: none
    output: string
    
    given a table named MOVIES which contains data 
    with these columns:
    
        MOVIES:
            ID, TITLE, YEAR
        
    
    write a SQL query to list all the titles and release years of all Harry Potter movies, in chronological order. 
    
    Notes: You may assume that the title of all Harry Potter movies will being with the words "Harry Potter", and 
    that if a movie title begins with the words "Harry Potter", it is a Harry Potter movie.
    '''
    pass

2. Solve this function:

In [5]:
def sql_query():
    '''
    input: none
    output: string
    
    given two tables named MOVIES and RATINGS which contains data 
    with these columns:
    
        MOVIES:
            ID, TITLE, YEAR
            
        RATINGS:
            MOVIE_ID, RATING, VOTES
    
    write a SQL query to list all movies released in 2010 and their ratings, 
    in descending order by rating. 
    
    Notes: For movies with the same rating, order them alphabetically by title.
        Your query should output a table with two columns, one for the title of 
        each movie and one for the rating of each movie.

        Movies that do not have ratings should not be included in the result.
    '''
    pass

3. Create a 8x8 matrix and fill it with a checkerboard pattern.

4. What is a term-frequency vector?<br>
   What is a inverse-document-frequency vector?

5. There are three artists entering a talent show: Pam, Pia, and Pablo. 
    * Pam put in 15 paintings, 4% of her works have won First Prize
    * Pia put in 5 paintings, 6% of her works have won First Prize
    * Pablo put in 10 paintings, 3% of his works have won First Prize.
    
Which artist is the most likely to win?<br>
What is that artist's probability of winning?<br>

(Hint: Bayes theorem)